<%- include('../base/top') %>

<div class="flex flex-wrap w-full bg-stone-100 rounded-xl p-5 m-5">
    <h2 class="text-2xl text-gray-900 pb-10">Create Class</h2>
    <form class="w-full" method="post" action="/class/create" enctype="application/x-www-form-urlencoded">
        <div class="grid grid-cols-4 md:grid-cols-8 gap-3">
            <div class="flex items-center">
                <label class="text-gray-500 font-bold mb-1 md:mb-0 mr-2 whitespace-nowrap" for="name">Class Name:</label>
            </div>
        </div>

        <div class="flex items-center col-span-3"> <!-- Grid cell -->
            <input name="name" class="appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-800" type="text" placeholder="Class Title" />
        </div>

        <div class="grid grid-cols-4 md:grid-cols-8 gap-3">
            <div class="flex items-center">
                <label class="text-gray-500 font-bold mb-1 md:mb-0 mr-2 whitespace-nowrap" for="descr">Class Desc:</label>
            </div>
        </div>

        <div class="flex items-center col-span-3"> <!-- Grid cell -->
            <input name="descr" class="appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-800" type="text" placeholder="Class Desc" />
        </div>

        <br>
        <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" value="Create Class">
    </form>
</div>

<script>
    document.getElementById( 'upload' ).addEventListener( 'change', handle_file_select, false );
</script>

<%- include('../base/bottom') %>
